# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual environments
venv/
env/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Media
media/
